<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="https://discord.gg/FKDeJ5Q">Discord</a></li>
            <li class="fork"><a href="https://asharms.jp/">JP Website</a></li>
            <li class="fork"><a href="https://twitter.com/AshArms_staff">JP Twitter</a></li>
              <li class="title"><marquee>UPDATE 01/06/2022: we are currently in the process of structuring the website!</marquee></li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <center><a href="https://tsukotaku.github.io/"><img src="/assets/img/logo_sharpened.png"></a></center> 
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a> and customized by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>
        <div id="title">
          <center><a href="https://tsukotaku.github.io/"><img src="/assets/img/beginnersguide.png"></a><a href="https://tsukotaku.github.io/units"><img src="/assets/img/dollsandenemies.png"></a></center>
        </div>

        {{ content }}

      </section>

    </div>
    <div>
      {% for page in site.pages %}
      <fot href={{ page.filename }}>{{ page.title }}</fot>
      {% endfor %}
    </div>
  </body>
    <center><img src="/assets/img/doll_animation_forfooter.gif"></center>
</html>
